.sidebar 
    .logo 
        .brand 
            div: ion-icon(name='logo-apple')
            span Brand Name
    .links 
        ul.list-unstyled 
            li(class="active")
                a(href="#") 
                    div: ion-icon(name='home-outline')
                    span Customers
            li
                a(href="#") 
                    div: ion-icon(name='people-outline')
                    span Customers 
            li
                a(href="#") 
                    div: ion-icon(name='chatbubble-ellipses-outline')
                    span Message 
            li
                a(href="#") 
                    div: ion-icon(name='help-outline')
                    span Help 
            li
                a(href="#") 
                    div: ion-icon(name='settings-outline')
                    span Settings 
            li
                a(href="#") 
                    div: ion-icon(name='bag-outline')
                    span Password 
            li
                a(href="#") 
                    div: ion-icon(name='log-out-outline')
                    span Sign Out 